<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Customer</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/overall.css" rel="stylesheet">
    <link href="/css/extra.css" rel="stylesheet">

</head>

<body id="page-top">
    <div class="shadow p-3 mb-1 headertitle">
        <div class="logo"></div>
        <div class="businessname">
            <h3 class="mb-0 text-white">MOKSH Enterprises</h3>
        </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
        

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Customer</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/inventory">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inventory</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/sales">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Sales</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="/customer">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Customer</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/logs">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Logs</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item" style= <% if (role.toUpperCase() =="INVENTORY" || role.toUpperCase() == "SALES") { %> <%= "display:none;" %> <% } %>>
                <a class="nav-link" href="/register">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Register</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar justify-content-between navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="container-fluid" >
                        <p>Hello, <%= name %></p>
                    </div>
                    <div class="container-fluid d-inline" >
                        <p class="text-right">Customer Search</p>
                    </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-10 col-md-12 mb-12 py-2 px-4 border1">
                            <p style="color: red; font-size: large; margin: 0;"><%= msg %></p>
                            <form action="/customer/search" method="POST">
                                <div class="row">
                                    <div class="col-xl-4 col-md-4 mb-12 mr-5">
                                        <input class="form-control form-control-sm" type="text" placeholder="search" name="searchbox">
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="customer_id" required> 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By ID
                                        </label>
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="name" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Name
                                        </label>                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="email" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Email
                                        </label>
                                    
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">                                   
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="number" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Number
                                        </label>                                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="address" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Address
                                        </label>                                       
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="user_id" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By User id
                                        </label>                                       
                                    </div>                                     
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 mb-12 d-flex">
                                        <div class="liner2">
                                            <hr class="sidebar-divider my-0">
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="row" style="margin-top: .75rem;">
                                        <div class="col-xl-2 col-md-2 mb-12 ">
                                            <button type="submit" class="btn btn-primary mb-2" name="subbtn" value="searchbtn">Search</button>
                                        </div>
                                        <!-- <div class="col-xl-2 col-md-2 mb-12">
                                            <button type="submit" class="btn btn-primary mb-2" name="subbtn" value="deletebtn">Delete</button>
                                        </div>
                                        <div class="col-xl-2 col-md-2 mb-12">
                                            <button type="submit" class="btn btn-primary mb-2" name="subbtn" value="editbtn">Edit</button>
                                        </div> -->
                                        <div class="col-xl-2 col-md-2 mb-12">
                                            <button type="submit" class="btn btn-primary mb-2" name="subbtn" value="sortbtn">Sort</button>
                                        </div>
                                </div>
                            </form>
                            <!-- <div class="row">
                                <div class="col-xl-12 col-md-12 mb-12 d-flex">
                                    <div class="liner">
                                        <h5>OR</h5>
                                    </div>
                                    <div class="liner2">
                                        <hr class="sidebar-divider my-0">
                                    </div>                                    
                                </div>
                            </div>
                            <form action="">                                                               
                                <div class="row">
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By ID
                                        </label>
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Name
                                        </label>                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Email
                                        </label>
                                    
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">                                   
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Number
                                        </label>                                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Address
                                        </label>                                       
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-12">
                                        <button type="submit" class="btn btn-primary mb-2">Sort</button>
                                    </div>
                                </div>
                            </form> -->
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-2 mb-2 liner3">
                            <button type="button" onclick="window.location='/customer/addCust'" class="btn btn-primary" <% if (role.toUpperCase() == "INVENTORY") { %> <%= "disabled" %> <% } %>>Add Customer</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class=" card shadow col-xl-12 col-md-12">
                            <div class="card-header py-2">
                                <h6 class="m-0 font-weight-bold text-primary">Search and Sorted </h6>
                            </div>
                            <div class="card-body overflow-auto p-0" style="max-height: 20rem;">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Customer id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">shop id</th>
                                        <th scope="col">user id</th>
                                        <th scope="col">action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <%
                                        if(datas.length!=0){
                                        datas.forEach(function(data){
                                        %>
                                      <tr>
                                        <th scope="row"><%=data.customer_id %></th>
                                        <td><%=data.name %></td>
                                        <td><%=data.email %></td>
                                        <td><%=data.number %></td>
                                        <td><%=data.address %></td>
                                        <td><%=data.shop_id %></td>
                                        <td><%=data.user_id %></td>
                                        <td>
                                            <a href="/customer/editbtn/<%=data.customer_id %>" type="button" class="btn btn-primary mb-2" style= <% if (role.toUpperCase() == "INVENTORY") { %> <%= "display:none" %> <% } %>>Edit</a>
                                            <a href="/customer/deletebtn/<%=data.customer_id %>" type="button" class="btn btn-primary mb-2" style= <% if (role.toUpperCase() == "INVENTORY") { %> <%= "display:none" %> <% } %>>Delete</a>
                                        </td>
                                      </tr>
                                        <% }) %>
                                        <% } else{ %>
                                            <tr>
                                                <td colspan="8">No Data Found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>           
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>MOKSH Enterprises</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>