<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logs</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/overall.css" rel="stylesheet">
    <link href="/css/extra.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script type="text/javascript">
        function gosuccess(msg){
            toastr.options.timeOut = 1500;
            toastr.options.positionClass = 'toast-top-right';
            toastr.success(msg);
        }
        function goerror(msg){
            toastr.options.timeOut = 1500;
            toastr.options.positionClass = 'toast-top-right';
            toastr.error(msg);
        }
    </script>

</head>

<body id="page-top">
    <div class="shadow p-3 mb-1 headertitle">
        <div class="logo"></div>
        <div class="businessname">
            <h3 class="mb-0 text-white">MOKSH Enterprises</h3>
        </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
        

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                <div class="sidebar-brand-text mx-3">Logs</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/inventory">
                    <span>Inventory</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/sales">
                    <span>Sales</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/customer">
                    <span>Customer</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/logs">
                    <span>Logs</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item" style= <% if (role.toUpperCase() =="INVENTORY" || role.toUpperCase() == "SALES") { %> <%= "display:none;" %> <% } %>>
                <a class="nav-link" href="/register">
                    <span>Register</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar justify-content-between navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="container-fluid" >
                        <p>Hello, <%= name %></p>
                    </div>
                    <div class="container-fluid d-inline" >
                        <p class="text-right">Logs Search</p>
                    </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-10 col-md-12 mb-12 py-2 px-4 border1">
                            <!-- <p style="color: red; font-size: large; margin: 0;"><%= msg %></p> -->
                            <% if (msg) { %>

                            <% if (msg && msg == "Search box is empty" || msg == "Error in search" || msg == "Logs does not exist" || msg == "Error in sortqty" || msg == "No data to sort") { %>
                                <!-- <div class="alert alert-danger" role="alert">
                                    
                                </div> -->
                                <script>goerror("<%= msg %>");</script>
                            <% } else if (msg && msg == "Searched" || msg == "Sorted") { %>   
                                <!-- <div class="alert alert-success" role="alert">
                                    
                                </div> -->
                                <script>gosuccess("<%= msg %>");</script>
                            <% } else {%> 
                                <div class="alert alert-danger" role="alert">
                                    <%= msg %>
                                </div>
                            <% } %> 

                            <% } %> 

                            <form action="/logs/search" method="POST">
                                <div class="row">
                                    <div class="col-xl-5 col-md-5 mb-12 my-2 mr-5">
                                        <input class="form-control form-control-sm h-100" style="font-size: 15px;" type="text" placeholder="Search" name="searchbox">
                                    </div>
                                    <div class="form-group col-xl-5 col-md-5 my-2" style="display: flex;">
                                        <label for="sel1" style="margin-top: 6px;"> Reference:</label>
                                        <select class="form-control ml-2" name="search">
                                            <option value="log_id" name="search">Log id</option>  
                                            <option value="user_id" name="search">User id</option> 
                                            <option value="Ip_address" name="search">Ip address</option> 
                                            <option value="date" name="search">Date</option> 
                                        </select>                              
                                    </div>
                                    <!-- <div class="col-xl-4 col-md-4 mb-12 mr-5">
                                        <input class="form-control form-control-sm" type="text" placeholder="search" name="searchbox">
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="log_id" required> 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By ID
                                        </label>
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="user_id" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By UserID
                                        </label>                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="Ip_address" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By IP address
                                        </label>                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1 mt-1">                                        
                                        <input class="form-check-input" type="radio" name="search" id="exampleRadios1" value="date" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Date/Time
                                        </label>                                    
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 mb-12 d-flex">
                                        <div class="liner2">
                                            <hr class="sidebar-divider my-0">
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="row" style="margin-top: .75rem;">
                                    <div class="col-xl-2 col-md-2 mb-12 ">
                                        <button type="submit" class="btn btn-primary" name="subbtn" value="searchbtn">Search</button>
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-12">
                                        <button type="submit" class="btn btn-primary mb-2" name="subbtn" value="sortbtn">Sort</button>
                                    </div>
                                </div>                                                 
                            </form>
                            <!-- <div class="row">
                                <div class="col-xl-12 col-md-12 mb-12 d-flex">
                                    <div class="liner">
                                        <h5>OR</h5>
                                    </div>
                                    <div class="liner2">
                                        <hr class="sidebar-divider my-0">
                                    </div>                                    
                                </div>
                            </div>
                            <form action="">                                                               
                                <div class="row">
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By ID
                                        </label>
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Login ID
                                        </label>                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By IP address
                                        </label>                
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-1">
                                        
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" > 
                                        <label class="form-check-label" for="exampleRadios1">
                                            By Date/Time
                                        </label>
                                    
                                    </div>
                                    <div class="col-xl-2 col-md-2 mb-12">
                                        <button type="submit" class="btn btn-primary mb-2">Sort</button>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class=" card shadow col-xl-12 col-md-12">
                            <div class="card-header py-2">
                                <h6 class="m-0 font-weight-bold text-primary">Search and Sorted </h6>
                            </div>
                            <div class="card-body overflow-auto p-0" style="max-height: 20rem;">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Logs id</th>
                                        <th scope="col">User id</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">ip address</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <%
                                        if(datas.length!=0){
                                        datas.forEach(function(data){
                                        %>
                                      <tr>
                                        <th scope="row"><%=data.Log_id %></th>
                                        <td><%=data.User_id %></td>
                                        <td><%=data.Date %></td>
                                        <td><%=data.Ip_address %></td>
                                      </tr>
                                        <% }) %>
                                        <% } else{ %>
                                            <tr>
                                                <td colspan="4">No Data Found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>           
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>MOKSH Enterprises</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        (function($) {
  "use strict"; // Start of use strict

  // Toggle the side navigation
  $("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
    $("body").toggleClass("sidebar-toggled");
    $(".sidebar").toggleClass("toggled");
    if ($(".sidebar").hasClass("toggled")) {
      $('.sidebar .collapse').collapse('hide');
    };
  });

  // Close any open menu accordions when window is resized below 768px
  $(window).resize(function() {
    if ($(window).width() < 768) {
      $('.sidebar .collapse').collapse('hide');
    };
    
    // Toggle the side navigation when window is resized below 480px
    if ($(window).width() < 480 && !$(".sidebar").hasClass("toggled")) {
      $("body").addClass("sidebar-toggled");
      $(".sidebar").addClass("toggled");
      $('.sidebar .collapse').collapse('hide');
    };
  });

})(jQuery);
    </script>

</body>

</html>