<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AddSales</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/overall.css" rel="stylesheet">
    <link href="/css/extra.css" rel="stylesheet">

</head>

<body id="page-top">
    <div class="shadow p-3 mb-1 headertitle">
        <div class="logo"></div>
        <div class="businessname">
            <h3 class="mb-0 text-white">MOKSH Enterprises</h3>
        </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
        

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-text mx-3">Sales</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/inventory">
                    <span>Inventory</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="/sales">
                    <span>Sales</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/customer">
                    <span>Customer</span></a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/logs">
                    <span>Logs</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item" style= <% if (role.toUpperCase() =="INVENTORY" || role.toUpperCase() == "SALES") { %> <%= "display:none;" %> <% } %>>
                <a class="nav-link" href="/register">
                    <span>Register</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar justify-content-between navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="container-fluid" >
                        <p>Hello, <%= name %></p>
                    </div>
                    <div class="container-fluid d-inline" >
                        <p class="text-right">Add Sales</p>
                    </div>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row">
                        <button class="btn btn-primary mb-3" onclick="window.location='/sales'">Back</button>
                    </div>
                    <div class="row">
                        <% if (msg && msg == "Enter all details" || msg == "Error" || msg == "Error in fetching qty" || msg == "Error in updating qty" || msg == "Error in updating history") { %>
                            <div class="alert alert-danger" role="alert">
                                <%= msg %>
                            </div>
                        <% } %> 
                        <% if (msg && msg == "Success") { %>
                            <div class="alert alert-success" role="alert">
                                <%= msg %>
                            </div>
                        <% } %>                           
                    </div>
                    <form action="/sales/addsales" method="POST">
                        <div class="row">                       
                            <div class="col-xl-3 col-md-6 mb-1">
                                <!-- <p style="color: red; font-size: large; margin: 0;"><%= msg %></p> -->
                                <label for="inputAddress " class="mt-2">Name</label>
                                <input type="text" class="form-control lengther" id="inputAddress" name="name"<% if (vals.name) { %>
                                    value = <%= vals.name %>
                                <% } %>>
                                <label for="inputAddress" class="mt-2">Sales Type</label>
                                <input type="text" class="form-control lengther" id="inputAddress" name="saletype"<% if (vals.saletype) { %>
                                    value = <%= vals.saletype %>
                                <% } %>>
                                <label for="inputAddress" class="mt-2">Date Sold</label>
                                <input type="text" class="form-control lengther" id="date" name="date"<% if (vals.date) { %>
                                    value = <%= vals.date %>
                                <% } %>>

                                <div class="row">
                                    <div class="col-xl-6 col-md-6 mb-1">
                                        <label for="inputAddress" class="mt-2">Quantity</label>
                                        <input type="text" class="form-control" onkeyup="changer()" id="qty" name="qty"<% if (vals.qty) { %>
                                            value = <%= vals.qty %>
                                        <% } %>>
                                    </div>
                                    <div class="col-xl-6 col-md-6 mb-1">
                                        <label for="inputAddress" class="mt-2">Unit Price</label>
                                        <input type="text" class="form-control" onkeyup="changer()" id="unitprice" name="salesprice"<% if (vals.salesprice) { %>
                                            value = <%= vals.salesprice %>
                                        <% } %>>
                                    </div>
                                </div>
                                <!-- <label for="inputAddress" class="mt-2">Quantity</label>
                                <input type="text" class="form-control lengther" id="inputAddress" name="qty"<% if (vals.qty) { %>
                                    value = <%= vals.qty %>
                                <% } %>> -->

                                <!-- <label for="inputAddress" class="mt-2">Sales Price</label>
                                <input type="text" class="form-control lengther" id="inputAddress" name="salesprice"<% if (vals.salesprice) { %>
                                    value = <%= vals.salesprice %>
                                <% } %>> -->

                                <label for="inputAddress" class="mt-2">Total Price</label>
                                <input type="text" class="form-control lengther" id="totalprice" name="totalprice" readonly <% if (vals.totalprice) { %>
                                    value = <%= vals.totalprice %>
                                <% } %>>

                            </div>
                            <div class="col-xl-3 col-md-6 mb-1">
                                <label for="inputAddress " class="mt-2">Customer ID</label>
                                <input type="text" class="form-control lengther" id="inputAddress" name="custid"<% if (vals.custid) { %>
                                    value = <%= vals.custid %>
                                <% } %>>
                                <!-- <label for="inputAddress " class="mt-2">Profit</label>
                                <input type="text" class="form-control lengther" id="inputAddress" name="profit"<% if (vals.profit) { %>
                                    value = <%= vals.profit %>
                                <% } %>> -->
                                <label for="inputAddress " class="mt-2">Inv ID</label>
                                <input type="text" class="form-control lengther" id="inputAddress" name="invid"<% if (vals.invid) { %>
                                    value = <%= vals.invid %>
                                <% } %>>
                                <button type="submit" class="btn btn-primary mt-4" name="subbtn" value="qrcode">Scan QRCode</button>
                                <button type="submit" class="btn btn-primary mt-4" name="subbtn" value="addbtn">Add Sales</button>
                                <button type="submit" class="btn btn-primary mt-4 d-flex" name="subbtn" value="newcustbtn">New Customer</button>
                            </div>
                            <div class=" card shadow col-xl-3 col-md-6 mb-1">
                                <div class="card-header py-2">
                                <h6 class="m-0 font-weight-bold text-primary">Inventory List </h6>
                            </div>
                            <div class="card-body overflow-auto p-0"  style="max-height: 28rem;">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">inv id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">inv type</th>
                                        <th scope="col">qty</th>
                                        <th scope="col">shop id</th>
                                        <th scope="col">cost price</th>
                                        <th scope="col">supplier</th>
                                        <th scope="col">sales price</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <%
                                        if(datas.length!=0){
                                        datas.forEach(function(data){
                                        %>
                                      <tr>
                                        <th scope="row"><%=data.inv_id %></th>
                                        <td><%=data.name %></td>
                                        <td><%=data.inv_type %></td>
                                        <td><%=data.quantity %></td>
                                        <td><%=data.shop_id %></td>
                                        <td><%=data.cost_price %></td>
                                        <td><%=data.supplier %></td>
                                        <td><%=data.sales_price %></td>
                                      </tr>
                                        <% }) %>
                                        <% } else{ %>
                                            <tr>
                                                <td colspan="8">No Data Found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="  card shadow col-xl-3 col-md-6 mb-1">
                                <div class="card-header py-2">
                                <h6 class="m-0 font-weight-bold text-primary">Customer List </h6>
                            </div>
                            <div class="card-body overflow-auto p-0" style="max-height: 28rem;">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">Customer id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">shop id</th>
                                        <th scope="col">user id</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <%
                                        if(datas1.length!=0){
                                        datas1.forEach(function(data){
                                        %>
                                      <tr>
                                        <th scope="row"><%=data.customer_id %></th>
                                        <td><%=data.name %></td>
                                        <td><%=data.email %></td>
                                        <td><%=data.number %></td>
                                        <td><%=data.address %></td>
                                        <td><%=data.shop_id %></td>
                                        <td><%=data.user_id %></td>
                                      </tr>
                                        <% }) %>
                                        <% } else{ %>
                                            <tr>
                                                <td colspan="7">No Data Found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            </div>                        
                    </div>
                    </form>
                </div>           
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>MOKSH Enterprises</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <script>
        function changer() {
            var x = document.getElementById("qty").value;
            var y = document.getElementById("unitprice").value;
            document.getElementById("totalprice").value = x*y;          
        }
    </script>

    <!-- Scroll to Top Button-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        (function($) {
  "use strict"; // Start of use strict

  // Toggle the side navigation
  $("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
    $("body").toggleClass("sidebar-toggled");
    $(".sidebar").toggleClass("toggled");
    if ($(".sidebar").hasClass("toggled")) {
      $('.sidebar .collapse').collapse('hide');
    };
  });

  // Close any open menu accordions when window is resized below 768px
  $(window).resize(function() {
    if ($(window).width() < 768) {
      $('.sidebar .collapse').collapse('hide');
    };
    
    // Toggle the side navigation when window is resized below 480px
    if ($(window).width() < 480 && !$(".sidebar").hasClass("toggled")) {
      $("body").addClass("sidebar-toggled");
      $(".sidebar").addClass("toggled");
      $('.sidebar .collapse').collapse('hide');
    };
  });

})(jQuery);
    </script>

</body>

</html>